


  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .booking-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: url('https://images.pexels.com/photos/5749780/pexels-photo-5749780.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
  }
  
  .left-column, .right-column {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin: 20px;
    margin-top: 100px;
  }
  
  .left-column h2 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .left-column p {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .right-column {
    background-color: rgba(255, 255, 255, 0.95);
  }
  
  .booking-form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    width: 100%;
  }
  
  .booking-form h2 {
    font-size: 22px;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }
  
  .booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .booking-form input:focus {
    border-color: #4CAF50;
  }
  
  .booking-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .booking-form button:hover {
    background-color: #45a049;
  }
  
  .CardElement {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
  }

 
  
  .CardElement--focus {
    border-color: #4CAF50;
  }
  