.home {
  background-position: center;
  background-size: cover;
  background-image: url('https://t4.ftcdn.net/jpg/08/12/83/53/240_F_812835384_8jBnyQSl9CRndGNUZENrJpkRCKiTWaht.jpg');
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home1{
  font-weight: 700;
  font-size: 4vw; /* Responsive font size */
  display: flex;
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
  flex-direction: column;
  color: white;
  /* background-color: blue; */
  justify-content: space-between;
  column-gap: 90%;
  align-items: center;
  text-align: center;
}

.home1 > div {
  border: 2px solid white;
  border-radius: 6px;
  width: 80%;
  max-width: 200px; /* Ensure button doesn't become too large on large screens */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.home1 > div:hover {
  border: none;
  background-color: #fea910;
}
.home2left{
  background-image: url(https://dm6g3jbka53hp.cloudfront.net/static-images/homepage__services-section__sessior-icon.svg);
}
.home2left2{
  background-image: url(https://dm6g3jbka53hp.cloudfront.net/static-images/home__pet-boarding__service-icon.png);
}

.home2left3{
  background-image: url(https://dm6g3jbka53hp.cloudfront.net/static-images/home-page_book-services-section-dog-walking-updated-icon.svg);
}

.home2left4{
  background-image: url(https://dm6g3jbka53hp.cloudfront.net/static-images/homepage__services-section__vet-injection-icon%20.svg);
}


/* Responsive styles for icons */
.home2left, .home2left2, .home2left3, .home2left4 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh; /* Initial height */
  width: 5vw; /* Initial width */
}

@media (max-width: 768px) {
  .home1 {
    font-size: 6vw; /* Adjust font size for smaller screens */
  }

  .home2left, .home2left2, .home2left3, .home2left4 {
    height: 8vh; /* Adjust icon height for smaller screens */
    width: 8vw; /* Adjust icon width for smaller screens */
  }
}

@media (max-width: 480px) {
  .home1 {
    font-size: 8vw; /* Further adjust font size for smaller screens */
  }

  .home2left, .home2left2, .home2left3, .home2left4 {
    height: 6vh; /* Further adjust icon height for smaller screens */
    width: 12vw; /* Further adjust icon width for smaller screens */
  }
}

@media (max-width: 320px) {
  .home1 {
    font-size: 10vw; /* Adjust font size for very small screens */
  }

  .home2left, .home2left2, .home2left3, .home2left4 {
    height: 5vh; /* Further adjust icon height for very small screens */
    width: 15vw; /* Further adjust icon width for very small screens */
  }
}
