/* Basic reset and layout */


.RPetsList-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 3%;
  flex-wrap: wrap;
}

.RHeader {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure header stays on top */
}

.RHeader-title {
  margin: 0;
  font-size: 24px;
}

.RHeader-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.RHeader-nav ul li {
  margin-right: 10px;
}

.RHeader-nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.RHeader-nav ul li a:hover {
  background-color: #555;
}

.RContent {
  display: flex;
  flex: 1;
  justify-content: center; /* Center align content */
  padding: 20px;
}

.RSidebar {
  flex: 0 0 300px;
  background-color: #ffffff; /* White background */
  padding: 20px;
  position:sticky;
  /* top: 200px; Adjusted to ensure below header */
  height: fit-content; /* Adjust height as per content */
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 0; /* Ensure sidebar above main content */
  position: sticky;
  top: 120px;
}

.RSidebar.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 500px;
   /* Adjust as needed */
}

.RSearch-form {
  max-width: 100%;
  margin-bottom: 20px;
}

.RSearch-form h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.RForm-group {
  margin-bottom: 15px;
}

.RForm-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.RForm-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.RSearch-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.RSearch-button:hover {
  background-color: #0056b3;
}

.RMain-content {
  flex: 1;
  flex-wrap: wrap;
  gap: 20px; /* Added gap between cards */
  justify-content: center; /* Center align cards */
}

.RPet-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%; /* Fixed width for cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; /* Center align content */
}

.RPet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.RPet-image {
  width: 90%;
  height: 40%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.RPet-card:hover .RPet-image {
  transform: scale(1.05);
}

.RPet-details {
  margin-top: 15px;
  text-align: center; /* Center align text */
}

.RPet-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.RPet-info {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.RPet-info .RKey {
  font-weight: bold;
  color: #007bff; /* Blue color for key */
  margin-right: 5px;
}

.RContact-button {
  position: absolute;
  bottom: 3%;
  left:10%;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
  transition: background-color 0.3s ease;
}
.RFavorite-button {
  position: absolute;
  right:10%;
  bottom: 3%;
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3px;
  transition: background-color 0.3s ease;
}

.RContact-button:hover,
.RFavorite-button:hover {
  background-color: #45a049;
}

.RPets-grid{
  margin-left: 10%;
  margin-right: auto;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}


.RPagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.RPagination button {
  margin: 0 5px;
  padding: 10px 15px;
  height: 40px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.RPagination button.RActive {
  background-color: #0056b3;
}

.RPagination button:hover:not(.RActive) {
  background-color: #0056b3;
}
