.PetApp {
    text-align: center;
    padding: 20px;
  }
  

  .PetApp>p{
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .pet-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .PetApp .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .PetApp .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .PetApp .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .PetApp button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
 
  
  .Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .PetApp button:hover {
    animation: anim1 0.3s ease-in forwards;
  }
  
  @keyframes anim1 {
    0% {
      width: 10%;
      background-color: #218838; /* Initial background color */
      color: white; /* Initial text color */
    }
    10% {
      width: 10%;
      background-color: blue;
      color: white;
    }
    20% {
      width: 20%;
      background-color: blue;
      color: white;
    }
    40% {
      width: 40%;
      background-color: blue;
      color: white;
    }
    60% {
      width: 60%;
      background-color: blue;
      color: white;
    }
    80% {
      width: 80%;
      background-color: blue;
      color: white;
    }
    100% {
      width: 100%;
      background-color: blue;
      color: white;
    }
  }
  